layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="develop" focus=true {
        pane split_direction="vertical" {
            pane size="20%" name="files" {
                command "nnn"
            }
            pane size="80%" name="edit" focus=true {
                command "hx"
                args "src/app.html"
            }
        }
    }
    tab name="test"{
        pane split_direction="vertical" {
            pane name="readme" {
                command "bat"
                args "README.md"
            }
            pane split_direction="horizontal" {
                cargo { args "check"; }
                cargo { args "run"; }
                cargo { args "test"; }
            }
        }
    }
    tab name="build" {
        pane split_direction="vertical" {
            pane name="postgres" {
                command "docker"
                args "compose" "up" "--build"
                start_suspended true
            }
            pane split_direction="horizontal" {
                pane name="docker" {
                    command "lazydocker"
                }
                pane name="set DATABASE_URL" {
                    command "alexandria-run"
                    start_suspended true
                }
            }
        }
    }
    tab name="git" {
        pane {
            command "lazygit"
        }
    }
    tab name="terminal" {
        pane name="etc."
    }
    pane_template name="cargo" {
        command "cargo"
        start_suspended true
    }
    pane_template name="bunx" {
        command "bunx"
        start_suspended true
    }
}
